@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="text-center">
    <h1>IES FINAL PROJECT</h1>
    <h2>Welcome to Group 10</h2>
    <img src="https://content.georgiancollege.ca/wp-content/uploads/Georgian-Barrie-front-Sept-2014_4.jpg">
</div>
